public/.htaccess
public/uploads/.htaccess
/vendor/
/node_modules/
/storage/logs/*
/storage/cache/*
/storage/uploads/*
.php-cs-fixer.cache
.env
.env.production
Thumbs.db
desktop.ini
.vscode/settings.json
public/.htaccess
